
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}
.hamburger {
  display: none;
  font-size: 26px;
  cursor: pointer;
}
.container {
  min-height: 100vh;
  /* background: linear-gradient(to bottom, #cfe3eb 0%, #ffffff 70%); */
  background: url("/assets/section_1.png") no-repeat center center/cover;
  padding: 0 60px;
  height: 794px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 0px;
}
header .header-left .gtg {
  font-size: 30px;
  font-weight: bold;
  color: #2d6a4f;
}
header .header-center nav ul {
  display: flex;
  gap: 32px;
  list-style: none;
}
header .header-center nav ul li a {
  text-decoration: none;
  color: #162456;
  font-size: 16px;
}
header .header-right {
  display: flex;
  gap: 10px;
  align-items: center;
}
header .header-right .search-icon {
  font-size: 24px;
  cursor: pointer;
}
header .shop-now-btn {
  padding: 16px 28px;
  background: linear-gradient(180deg, #032e15 0%, #016630 100%);
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 505px;
}
.promo-section {
  max-width: 692px;
  padding-top: 129px;
}
.award-btn {
  padding: 8px 16px;
  border-radius: 10000px;
  background: linear-gradient(
    180deg,
    rgba(3, 46, 21, 0.6) 0%,
    rgba(1, 102, 48, 0.6) 100%
  );
  border: none;
  margin-bottom: 27px;
  color: #ffff;
  font-size: 16px;
}
.promo-section .tagline h1 {
  font-size: 56px;
  margin-bottom: 40px;
  font-weight: bold;
  font-weight: 700;
  letter-spacing: -1.33px;
}
.promo-section .stats {
  display: flex;
  margin-bottom: 40px;
  gap: 24px;
}

.promo-section .shop-now-btn {
  padding: 12px 16px;
  background: linear-gradient(180deg, #032e15 0%, #016630 100%);
  color: #ffffff;
  border: none;
  font-weight: 500;
  border-radius: 100px;
  width: 185px;
  height: 48px;
  font-size: 18px;
} 
.promo-section .stat .number {
  font-size: 30px;
  font-weight: bold;
  background: linear-gradient(
    180deg,
    rgba(3, 46, 21, 0.6) 0%,
    rgba(1, 102, 48, 0.6) 100%
  );
  -webkit-background-clip: text;
  color: transparent;
  font-size: 72px;
}
.promo-section .stat .label {
  font-size: 22px;
  color: #0d542b;
  text-align: left;
  font-weight: 300;
}
.section-2 {
  display: grid;
  grid-template-columns: 1.1fr 1fr;
  max-width: 1400px;
  margin-top: 146px;
  margin-right: 63px;
  margin-left: 64px;
  gap: 50px;
}
.carousel-container {
  position: relative;
}
.main-image {
  width: 100%;
  border-radius: 10px;
}
.thumbnails-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}
.thumbnail {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 12px;
  cursor: pointer;
  opacity: 0.7;
}
.thumbnail:hover {
  opacity: 1;
}
/* .next-prev {
  display: flex;
  gap: 88%;
  margin-top: -26px;
} */
.next-prev {
  position: absolute;
  bottom: 40%;
  left: 18px;
  right: 18px;
  display: flex;
  justify-content: space-between;
}
.next-prev button {
  background: transparent;
  border: 0.81px solid #032E15;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  font-size: 12px;
  cursor: pointer;
  color: #032E15;
}
.dots {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 10px;
  position: absolute;
  bottom: 43%;
  left: 18px;
  right: 18px;
}

.dot {
  width: 8px;
  height: 8px;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
  border: 1.01px solid #032E15
}
.dot.active {
  background: #032E15;
}
.bottom-image {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin-top: 30px;
}
.bottom-image img {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
}
.right-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.right-heading {
  font-size: 36px;
  color: #032e15;
  font-weight: 600;
}
.right-sub-heading {
  margin-top: 16px;
  font-size: 16px;
  color: #032e15;
  font-weight: 300;
}
.container-perfume {
  border: 1.01px solid #b8b8b8;
  border-radius: 6px;
  margin-top: 31px;
}
.subscription-option
{
  padding: 20px;
}
.container-perfume-double {
  border: 1.01px solid #b8b8b8;
  border-radius: 6px;
  margin-top: 11px;
  padding: 20px
}
.header-perfume {
  background: linear-gradient(270deg, #032e15 0%, #008236 51.92%, #00c950 100%);
  color: #ffffff;
  font-size: 20px;
  text-align: center;
}
.radio-section-split {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price {
  font-size: 24px;
  font-weight: bold;
  color: #2c6b2f;
}
.old-price {
  color: #b8b8b8;
  text-decoration: line-through;
  margin-left: 6px;
}
hr {
  border: none;
  border-top: 1px solid #919798;
  margin: 12px 20px;
}
.choose-lab {
  margin-top: 18px;
  margin-bottom: 14px;
  display: block;
}
.fragrance-options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 14px;
  padding: 0 18px;
}
.fragrance-option {
  background: #f9f9f9;
  padding: 10px;
  border-radius: 4.95px;
  text-align: center;
}
.fragrance-options img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
  margin-top: 8px;
}
.included {
  margin: 20px 0;
}
.include {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.included ul {
  list-style-type: none;
  padding: 0;
}
.included li {
  font-size: 16px;
  margin-bottom: 10px;
}
.btn {
  padding: 12px 24px;
  background: linear-gradient(180deg, #032e15 0%, #016630 100%);
  color: #ffffff;
  border: none;
  font-weight: 500;
  border-radius: 100px;
  height: 52px;
  font-size: 18px;
  width: 100%;
  margin-top: 24px;
}
.collection {
  margin-left: 60px;
  margin-right: 68px;
  margin-top: 146px;
  gap: 113px;
  margin-bottom: 98px;
  display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1400px;
    align-items: center;
}
.fragrance-options label {
  font-size: 16px;
  margin-right: 20px;
  display: inline-block;
  cursor: pointer;
}
.heading {
  color: #032e15;
  font-size: 36px;
  margin-bottom: 33px;
}
.accordion {
  display: flex;
  flex-flow: column;
  gap: 15px;
}
.accordion-item {
  border: 1px solid #cdcdcd;
  padding: 24px;
  border-radius: 8px;
}
.accordion-item.active .accordion-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: none;
  background: #ffffff;
  font-size: 20px;
  font-weight: 700;
  color: #032e15;
  margin-bottom: 48px;
}
.accordion-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: none;
  background: #ffffff;
  font-size: 20px;
  font-weight: 700;
  color: #032e15;
}
.accordion-header .icon {
  font-size: 22px;
  color: #032E15;
}
.accordion-item p {
  font-size: 16px;
  color: #666666;
  line-height: 1.6;
  display: none;
}

/* ACTIVE STATE */
.accordion-item.active p {
  display: block;
}
.right-section img {
  width: 100%;
  border-radius: 24px;
  object-fit: cover;
}
.stats-section {
  background: linear-gradient(180deg, #032e15 0%, #016630 100%);
  padding: 70px 80px;
}
.stats-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  text-align: center;
}

.stat-item h2 {
  font-size: 44px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 10px;
}
.stat-item p {
  font-size: 14px;
  line-height: 1.5;
  color: #d5e6dc;
  margin: 0;
}

.comparison-section {
  margin-top: 69.75px;
  margin-left: 251.05px;
  margin-right: 254.81px;
  margin-bottom: 104.28px;
  text-align: center;
}
.section-title-1 {
  margin-bottom: 39px;
}
.section-title {
  color: #032e15;
  font-size: 36px;
  margin-bottom: 57px;
}

.comparison-table {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  border-collapse: separate;
  border-spacing: 0;
}
.comparison-table th,
.comparison-table td {
  padding: 20px;
  border-bottom: 1px solid #333;
  font-size: 14px;
}
.comparison-table th {
  font-weight: 600;
}
.comparison-table th img {
  width: 70px;
  height: 70px;
  border-radius: 12px;
  object-fit: cover;
  display: block;
  margin: auto;
}
.comparison-table th span {
  display: block;
  margin-top: 8px;
}
.comparison-table tbody td:not(:first-child) {
  text-align: center;
}
.table-heading {
  color: #322d2d !important;
  font-size: 16px;
  font-weight: 700;
}

.comparison-table td:first-child {
  text-align: left;
  font-size: 16px;
  font-weight: 700;
}
.highlight {
  background: #f2fff6;
  color: #0c3b2e;
}
.highlight td,
.highlight th {
  border-color: #cfe8d9;
}

.cta-btn {
  margin-top: 50px;
  padding: 16px 40px;
  background: #0c3b2e;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
}
.footer {
  background: #032e15;
  color: #ffffff;
  padding-top: 75.52px;
  padding-left: 81px;
  padding-right: 84px;
  padding-bottom: 93px;
}
.footer-gtg {
  height: 73px;
}
.footer-gtg .gtg {
  font-size: 42.32px;
  font-family: 700;
}
.footer-container {
  display: grid;
  grid-template-columns: 1.2fr 1fr 2fr;
  gap: 60px;
  align-items: flex-start;
}
.footer-links {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.footer-links a {
  display: block;
  color: #d5e6dc;
  text-decoration: none;
  margin-bottom: 12px;
  font-size: 14px;
}
.footer-links a:hover {
  color: #000;
}
.footer-social {
  display: flex;
  flex-direction: column;
}
.footer-social a {
  color: #fff;
  font-size: 14.16px;
  text-decoration: none;
  display: flex;
  gap: 14.16px;
  margin-bottom: 12px;
}
.footer-social img {
  width: 22px;
  height: 22px;
}

.footer-tags {
  width: 171.24476623535156px;
}
.footer-social a:hover {
  color: #000;
}
.footer-newsletter {
  max-width: 505.6440124511719px;
}
.newsletter-title {
  font-size: 16.18px;
  margin-bottom: 24px;
  font-weight: 700;
  color: #fef3e4;
}
.newsletter-form {
  display: flex;
  gap: 12px;
  margin-bottom: 16.18px;
}
.newsletter-form input {
  flex: 1;
  padding: 12.14px;
  background: transparent;
  color: #fff;
  font-size: 16.18px;
  border: 1.01px solid #ffffff;
  height: 48.270912170410156px;
}
.newsletter-form button {
  background: #653b09;
  border: none;
  color: #fff;
  font-size: 16.18px;
  cursor: pointer;
  padding: 12.14px 24.27px;
  font-weight: 700;
}
.newsletter-form input::placeholder {
  color: #FFFFFF;
}
.newsletter-note {
  font-size: 12.14px;
  color: #ffffff;
  font-weight: 300;
}
.newsletter-note a {
  color: #ffffff;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .header-center {
    position: absolute;
    top: 70px;
    left: 0;
    background: white;
    display: none;
  }
  .header-center nav ul {
    flex-direction: column;
    padding: 20px;
    gap: 16px;
    text-align: center;
  }
  .header {
    padding: 20px;
  }
  .promo-section {
    padding-top: 50px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .award-btn {
    width: auto;
    margin-bottom: 20px;
  }
  .promo-section .tagline h1 {
    font-size: 40px;
  }
  .promo-section .stat .number {
    font-size: 40px;
  }
  .promo-section .stats {
    gap: 20px;
  }
  .promo-section .stat .label {
    font-size: 18px;
  }
  header {
    padding: 20px;
  }
  .section-2 {
    display: block;
    width: 100%;
    margin: 0;
  }
  .main-image {
    width: 100%;
    margin: 20px 20px 20px 0px;
  }
  .bottom-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 20px 20px 20px 0px;
  }
  .right-container {
    margin: 20px;
  }
  .left-section {
    width: 100%;
    margin: 20px 20px 20px 0px;
  }
  .right-section {
    width: 100%;
    margin: 20px 20px 20px 0px;
  }
  .stats-section {
    width: 100% !important;
    padding: 10px;
  }
  .comparison-section {
    width: 100%;
    margin: 10px;
  }
  .footer {
    width: 100%;
    margin: 20px;
    display: block;
  }
  .collection {
    display: block;
    margin: 0px;
  }
  .right-section img {
    width: 100%;
  }
}
